{{#*inline "Tags"}}
    {{#each tags}}
        <i class="tag" data-category={{this.category}}>{{this.name}}</i>
    {{/each}}
    {{#each meta}}
        <i class="tag">[{{this.dictionary}} / {{this.data.entry.Frequency}}]</i>
    {{/each}}
{{/inline}}

{{#*inline "RubyHtml"}}
    {{#each ruby}}
        {{#if (isArray this)}}
            <ruby>
                {{lookup this 0}}
                <rt>
                    {{lookup this 1}}
                </rt>
            </ruby>
        {{else}}
            {{this}}
        {{/if}}
    {{/each}} 
{{/inline}}

{{#*inline "RubyPlain"}}
    {{~#each ruby~}}
        {{~#if (isArray this)}} {{lookup this 0}}[{{lookup this 1}}]
        {{~else~}}
            {{this}}
        {{~/if~}}
    {{~/each~}} 
{{/inline}}

{{#*inline "InflectionRules"}}
    {{#each inflection_rules}}
        {{this}}
    {{/each}}
{{/inline}}

{{#*inline "GlossaryEntry"}}
    <ol>
        {{#each glossary}}
            <li>
                {{{formatGlossary this}}}
            </li>
        {{/each}}
    </ol>
{{/inline}}

{{#*inline "GlossaryList"}}
    <ol>
        {{#each glossaries}}
            <li>
                {{> Tags}}
                {{> GlossaryEntry this.term}}
            </li>
        {{/each}}
    </ol>
{{/inline}}

{{#*inline "Reading"}}
    {{~#each ruby~}}
        {{~#if (isArray this)~}}
            {{lookup this 1}}
        {{~else~}}
            {{this}}
        {{~/if~}}
    {{~/each~}} 
{{/inline}}

{{#*inline "Expression"}}
    {{~#each ruby~}}
        {{~#if (isArray this)~}}
            {{lookup this 0}}
        {{~else~}}
            {{this}}
        {{~/if~}}
    {{~/each~}} 
{{/inline}}


{{#*inline "FullGlossary"}}
    <header>
        {{> RubyHtml }}
        {{> InflectionRules }}
        {{> Tags }}
    </header>
    {{> GlossaryList }}    
{{/inline}}
    
{{~>(lookup this "marker") this.data ~}}